

.grid {
  display: grid;
  grid-template-areas: "nav"
                       "spread"
                       "summer"
                       "renovated"
                       "brick"
                       "barn"
                       "summer2"
                       "renovated2"
                       "brick2"
                       "barn2"
                       "form"
                       "map"
                       "footer";
  grid-template-columns: minmax(300, auto)


}



img {
  width: 375px;
}

nav {
  grid-area: nav;
}

.spread {
  grid-area: spread;
}

.summer-house {
  grid-area: summer;
}

.renovated-house {
  grid-area: renovated;
}

.brick-house {
  grid-area: brick;
}

.barn-house {
  grid-area: barn;
}

.summer-house2 {
  grid-area: summer2;
}

.renovated-house2 {
  grid-area: renovated2;
}

.brick-house2 {
  grid-area: brick2;
}

.barn-house2 {
  grid-area: barn2;
}

.about {
  grid-area: about;
}

.staff1 {
  grid-area: staff1;
}

.staff2 {
  grid-area: staff2;
}

.staff3 {
  grid-area: staff;
}

.staff4 {
  grid-area: staff4;
}

form {
  grid-area: form;
}

.map {
  grid-area: map;
}

footer {
  grid-area: footer;
}

.box {
  position: relative;

  top: 0;
  left: 0;
  background-color: black;
  color: white;
}

@media screen and (max-width: 600px) {
  
    
  .grid {
    display: grid;
    
    /* grid-template-columns: repeat(auto-fit, minmax(150, 1fr));  */
    grid: 5px;
    
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 10px 100px 50px 50px 30px 50px 60px 100px 20px; */
    
    grid-template-areas:  "nav nav nav nav"
                          "spread spread spread spread"
                          "summer renovated brick barn"
                          "summer2 renovated2 brick2 barn2"
                          "about about about about"
                          "staff1 staff2 staff3 staff4"
                          "form form form form"
                          "map map map map"
                          "footer footer footer footer";

    
  
  }
 
}

/* 

@media screen and (min-width: 980px) {
  
} */